/* Normal hover behavior looks weird with a shadow, this makes it clear */
.navpath li.navelem a:hover {
	text-shadow: none !important;
	text-decoration: underline;
}

/* Make navbar items stand out a bit more */
#main-menu > li > a {
	margin: var(--spacing-small);
	background-color: var(--note-color);
	color: var(--note-color-darker);
	border: 1px solid var(--separator-color);
}

#main-menu > li > a:hover {
	background-color: var(--note-color-darker);
	color: var(--note-color-darker);
	border-color: var(--note-color-darker);
}

/* show border to make it clear which element the description is associated with */
table.memberdecls .mdescRight {
	border-style: none solid solid none;
	border-bottom-right-radius: var(--border-radius-small);
}

table.memberdecls .mdescLeft {
	border-style: none none solid solid;
	border-bottom-left-radius: var(--border-radius-small);
}

table.memberdecls .mdescLeft,
table.memberdecls .mdescRight {
	border-color: var(--separator-color);
	border-width: 1px;
}

/* ----------------------------------- */

/* complex css selector to not show borders for descriptions on collapsed public types */
table.memberdecls tr.inherit:not(tr.inherit[style="display: table-row;"])+tr>.mdescLeft,
table.memberdecls tr.inherit:not(tr.inherit[style="display: table-row;"])+tr>.mdescRight {
	border: 0;
}

/* styling the expandle details/summary elements */
details>summary {
	cursor: pointer;
	background-color: var(--fragment-background);
	padding: var(--spacing-medium);
}

details>summary::before {
	content: "\25B6";
}

details {
	border: 1px solid var(--separator-color);
	border-radius: var(--border-radius-small);
}